style.css

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  /* position:relative, left,right,top,bottom*/
  h2 {
    color: #333;
    text-align: center;

  }
  .form-control {
    font-size: 16px; /* Increase the font size */
    padding: 10px; /* Increase padding */
    width: 300px; /* Adjust width as needed */
    margin-bottom: 10px; /* Add margin for spacing */
    border: 1px solid #ccc; /* Add a border for better visibility */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
 position: relative;
 left: 790px;
  }
  #mv{
    margin-left: 30px;
    position: relative;
    left: 530px;
font-size: 25px;
  }
  table {
    width: 60%; /* Set a fixed width for the table, adjust as needed */
    border-collapse: collapse;
    margin-top: 20px; /* Add margin for spacing */
    margin-left: 340px;
    border: 2px solid black; /* Set the border color and width */

  }
  .inner-table{
   position: relative;
    margin-left: 10px;  }
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border: 2px solid black; /* Set the border color and width */

  }
  
  th {
    background-color: #f2f2f2;
  }

  button {
    padding: 10px;
    color: #000000;
    border: none;
    cursor: pointer;
    position: relative;
    left:830px;
    background-color: #40b3ff;

  }
  
  #delete{

    padding-bottom: 10px;
    margin-bottom: 50px;
    position: relative;
    top: 50px;
    border-radius: 18px;
    border: solid #000000 2px;

  }
  #insert{

    padding-bottom: 10px;
    margin-bottom: 50px;
    position: relative;
    top: 50px;
    border-radius: 18px;
    border: solid #000000 2px;

  }
  /* #back{
    border: solid #000000 2px;

  } */
  /* #logout{
    border: solid #000000 2px;
  } */
  /* #button2{

    padding-bottom: 10px;
    margin-bottom: 50px;
    position: relative;
    top: 50px;
    border-radius: 18px;
    border: solid #000000 2px;

  } */
  button:hover {
    background-color: #c4d813;
  }
  


  #myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #modalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 50%;

  }
  #s,#cancelButton{
position: relative;
top:310px;
left: 700px;
  }

